<IfModule deflate_module>
 # Enable compression for the following file types.
	 AddOutputFilterByType   \
	 DEFLATE                 \
	 application/javascript  \
	 text/css                \
	 text/html               \
	 text/javascript         \
	 text/plain              \
	 text/xml
</IfModule>

<IfModule mod_rewrite.c>
	RewriteEngine on
	RewriteBase /

	# Force www
	RewriteCond %{HTTP_HOST} !^www.kylewjohnston.com$ [NC]
	RewriteRule ^(.*)$ http://www.kylewjohnston.com/$1 [L,R=301]

	# Remove extension; add trailing slash
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_URI} !(.*)/$
	RewriteRule ^(.*)$ /$1/ [R=301,L]

	# Add trailing slash to URLs
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME}\.php -f
	RewriteRule ^(.*)/$ /$1.php [L]
</IfModule>

# Oops
ErrorDocument 404 /404

<IfModule mod_mime.c>
# Web fonts
  AddType application/font-woff          woff
  AddType application/font-woff2         woff2
  AddType application/vnd.ms-fontobject  eot
</IfModule>

#  Character encodings
AddDefaultCharset utf-8

<IfModule mod_autoindex.c>
  Options -Indexes
</IfModule>

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteCond %{REQUEST_URI} "!(^|/)\.well-known/([^./]+./?)+$" [NC]
  RewriteCond %{SCRIPT_FILENAME} -d [OR]
  RewriteCond %{SCRIPT_FILENAME} -f
  RewriteRule "(^|/)\." - [F]
</IfModule>